@{
    ViewData["Title"] = "Admin";
}

<h1>Административная панель</h1>


@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


<link rel="stylesheet" href="~/css/styleForProductList.css" />

<div>
    <h3>Добавить продукт</h3>
    <form method="post" action="/Admin/AddProducts">
        <label for="Name">Название:</label>
        <input type="text" id="Name" name="Name" required>

        <label for="Proteins">Белки:</label>
        <input type="text" id="Proteins" name="Proteins" required>

        <label for="Fats">Жиры:</label>
        <input type="text" id="Fats" name="Fats" required>

        <label for="Carbohydrates">Углеводы:</label>
        <input type="text" id="Carbohydrates" name="Carbohydrates" required>

        <button type="submit">Добавить</button>
    </form>
</div>

<br>

@model List<CaloriesCalculator.WebClient.Domain.Entities.Product>


@{
    ViewData["Title"] = "Cписок продуктов";
}
<h1>Список продуктов</h1>


<form method="get" action="/Admin/Index">
    <label for="searchTerm">Поиск по названию</label>
    <input type="text" id="searchTerm" name="searchTerm">
    <button type="submit">Искать</button>
</form>
<table>
    <tr>
        <th>Название</th>
        <th>Белки</th>
        <th>Жиры</th>
        <th>Углеводы</th>
        <th>Действия</th> <!-- Новая колонка для кнопок действий -->
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Proteins</td>
            <td>@product.Fats</td>
            <td>@product.Carbohydrates</td>
            <td>
                <!-- Кнопка изменения -->
                <form method="post" action="/Admin/EditProduct/@product.Id">
                    <button type="button" onclick="editProduct(@product.Id)">
                        <i class="fas fa-edit"></i>
                    </button>
                </form>

                <!-- Кнопка удаления с подтверждением -->
                <form method="post" action="/Admin/DeleteProduct/@product.Id" onsubmit="return confirm('Вы уверены, что хотите удалить этот продукт?')">
                    <button type="submit">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>

            </td>
        </tr>
    }
</table>


<script>
    function editProduct(productId) {
        var newName = prompt("Введите новое название продукта:");
        var newProteins = prompt("Введите новое значение для белков:");
        var newFats = prompt("Введите новое значение для жиров:");
        var newCarbohydrates = prompt("Введите новое значение для углеводов:");

        if (newName && newProteins && newFats && newCarbohydrates) {
            $.ajax({
                url: "/Admin/EditProduct/" + productId,
                type: "POST",
                data: {
                    newName: newName,
                    newProteins: newProteins,
                    newFats: newFats,
                    newCarbohydrates: newCarbohydrates
                },
                success: function (result) {
                    alert("Продукт успешно изменен.");
                    location.reload();
                },
                error: function (xhr, status, error) {
                    alert("Ошибка при изменении продукта: " + error);
                }
            });
        }
    }
</script>






